body {
	font-size: 13px;
}

table {
	width: 457px;
	border-collapse: collapse;
	/*table-layout: fixed;*/
}

table, th, td {
	border: 1px solid #d3d3d3;
}

td {
	padding: 5px;
	color: rgba(0, 0, 0, 0.8);
}

thead th {
	padding: 5px;
	text-align: left;
	background: linear-gradient(180deg, #5CC006, #47A803);
	color: #fff;
	font-weight: normal;
}

tbody tr, tbody td {
	border-top: none;
	border-bottom: none;
}

tbody tr:nth-of-type(2n) {
	background-color: #ECECD8;
}

.country img {
	vertical-align: middle;
	margin-right: 5px;
}